.bannerWrap{
    max-width: 1920px;
    height: 550px;
    margin: 0 auto;
    position: relative;
    .banner{
        width: 1920px;
        height: 550px;
        margin: 0 auto;
        position: relative;
        .swiper-container {
            width: 1920px;
            height: 550px;   
            margin: 0 auto;
            position: relative;
            .swiper-wrapper{
                cursor: pointer;
                .pic{
                    overflow: hidden;
                    width: 1920px;
                }
            }
            .my-bullet-active{
                background-color: #db192a;
                opacity: 0.8;
            }
            .swiper-button-prev{
                position: absolute;
                left: 5%;
                color: #fff;
                opacity: 0.8;
            }
            .swiper-button-next{
                position: absolute;
                right: 24%;
                color: #fff;
                opacity: 0.8;
            }
            .wrap{
                width: 1270px;
                height: 550px;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                z-index: 1;
            }
            .swiper-pagination-bullet{
                width: 10px;
                height: 10px;
            }
        }
        // banner_nav
        .banner_nav{
            // width: 176px;
            height: 550px;
            position: absolute;
            left: 170px;
            top: 0;
            z-index: 20;
            color: #666;
            .ul{
                padding-top: 40px;
                background-color: rgba(0,0,0,.5);
                // background-color: #0f0;
                width: 176px;
                position: relative;
                >li{
                    height: 67px;
                    line-height: 67px;
                    // text-align: center;
                    cursor: pointer;
                    padding: 0 22px 0 32px;
                    a{
                        color: #fff;
                        float: left;
                        font-size: 14px;
                    }
                    i{
                        font-size: 14px;
                        width: 14px;
                        height: 67px;
                        right: 0;
                        margin: 0 0 0 8px;
                        padding: 0;
                        color: #fff;
                        float: right;
                        font-family: '宋体';
                    }
                }
                li:hover{
                    background-color: rgba(255,255,255,0.9);

                }
                li:hover a{
                    color: #db192a;
                }
                li:hover i{
                    color: #db192a;
                }                
                .banner_list{
                    width: 758px;
                    height: 550px;
                    background-color: #fff;
                    position: absolute;
                    left: 176px;
                    top: 0;
                    display: none;
                    ul{
                        padding: 4px 10px;
                        li{
                            width: 350px;
                            height: 180px;
                            float: left;
                            margin: 0 8px;
                            overflow: hidden;
                            cursor: pointer;
                            img{
                                width: 180px;
                                height: 180px;
                                float: left;
                            }
                            .dj{
                                width: 168px;
                                display: inline-block;
                                font-size: 14px;
                                margin-top: 50px;
                                vertical-align: middle;
                                p{
                                    line-height: 20px;
                                    margin: 10px 0 10px 10px;
                                    font-size: 14px;
                                }
                                p:nth-child(2){
                                    color: #ff2524;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
            ul:hover .banner_list{
                display: block;
            }
        }
    }
}

    

  