.topWrap{
    width: 100%;
    height: 40px;
    background-color: #666;
    color: #666;
}
// top
.top{
    width: 1270px;
    height: 40px;
    margin: 0 auto;
    font-size: 11px;
    a{
        color: #ccc;
    }
    li:hover a{
        color: #fff;
    }
    .top_left{
        height: 40px;
        float: left;
        line-height: 40px;
        li{
            float: left;
            margin-right: 43px;            
        }
    }
    .top_right{
        height: 40px;
        float: right;
        line-height: 40px;
        margin-right: 30px;
        li{
            float: left;
            position: relative;
            a{
                padding: 0 0 0 15px;
                // position: relative;                
            }
            .top_no{
                position: absolute;
                width: 180px;
                height: 200px;
                background-color: #fff;
                z-index: 99;
                left: -25px;
                top: 40px;
                text-align: center ;
                border: 1px solid #ccc;
                display: none;
                img{
                    width: 140px;
                    height: 140px;
                    margin-top: 10px;
                }
                p{
                    font-size: 10px;
                    line-height: 160%;
                }
            }
        }
        li:nth-child(1) a{
            border: none;
        }
        li:hover .top_no{
            display: block;
        }
        i{
            width: 1px;
            height: 13px;
            border-right: 1px solid #979797;
            margin-left: 15px;
            float: left;
            margin-top: 14px;        
        }
    }
}
// header
.headerWrap{
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: relative;
}
.header{
    width: 1270px;
    height: 80px;
    // background-color: #0f0;
    margin: 0 auto;
    color: #666;
    overflow: hidden;
    // position: relative;
    // line-height: 80px;
    .logo{
        margin-top: 12px;
        float: left;
    }
    .nav_left{
        // width: 600px;
        // width: 100%;
        // background-color: #00f;
        height: 80px;
        float: left;
        margin-left: 100px;
        position: relative;
        ul{
            height: 40px;
            line-height: 40px;
            // overflow: hidden;
            // height: 80px;
            // line-height: 80px; 
            margin-top: 20px;
            // position: relative; 

            li{
                float: left;
                font-size: 14px;
                // height: 100%;
                position: relative;
                box-sizing: content-box;
                cursor: pointer;
                a{
                    padding: 0 16px 0 17px;
                    color: #333;
                }
                a:hover{
                    color: red;
                }                
            }                       
        } 
        .line{
            width: 100%;
            height: 4px;
            // background-color: lightblue;
            position: absolute;
            bottom: 10px;
            left: 0;
            z-index: 1;
            .nav_line{
                width: 60px;
                height: 4px;
                background-color: rgba(255,0,0,1);
                position: absolute;
                left: 0;
                bottom: -10px;
                display: none;
                z-index: 1;
            } 
        }               
    }
    .nav_right{
        height: 80px;
        line-height: 80px;
        float: right;   
        .font{
            border-left: 1px solid #e3e3e3;
            width: 1px;
            height: 18px;
            margin: 0 7px 0 0;
        }
        a{
            color: #555;
            font-size: 14px;
            padding: 0 10px;
        }
        span{
            position: relative;
            input{
                border: 1px solid #ccc;
                height: 34px;
                padding: 0 5px;
                width: 233px;
                text-indent: 10px;
                opacity: 0.7;
            }
            span{
                background-color: #e4e4e4;
                width: 28px;
                height: 28px;
                display: block;
                text-align: center;
                line-height: 28px;
                border-radius: 50%;
                position: absolute;
                right: 9px;
                top: -5px;
                i{
                    cursor: pointer;
                }
            }
        }
    }
}
.menu_list{
    width: 100%;
    height: 210px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 80px;
    z-index: 99;
    display: none;
    // background-color: #ff0;
    .menu_content{
        width: 1270px;
        height: 210px;
        margin: 0 auto;
        // background-color: #ff0;
        text-align: center;
        ul{
            display: inline-block;
            // background-color: #0f0;
            margin-top: 30px;
            overflow: hidden;
            li{
                width: 160px;
                overflow: hidden;
                float: left;
                margin: 0 14px;
                a{
                    img{
                        height: 100px;
                    }
                    p{
                        height: 12px;
                        font-size: 12px;
                        margin-top: 8px;
                        line-height: 12px;
                        text-align: center;
                        color: #333;
                        overflow: hidden;
                    }
                    p:last-child{
                        color: red;
                    }
                }
            }
        }
    }
}