.headerBox{
    width: 1226px;
    margin: 0 auto;
}
.header{
    padding: 20px 0 20px;
    height: 45px;
    border: none;
    margin-left: 20px;
    line-height: 45px;
    a{
        margin-top: -6px;
        float: left;
    }
    p{
        float: left;
        font-size: 32px;
        color: #666;
        line-height: 45px;
        margin-left: 30px;
        font-weight: lighter;
    }
}
.mainWrap{
    width: 100%;
    height: 480px;
    background-color: #891b1a;
    background-image: url(../img/bg.jpg);
    background-position: center 0;
    .main{
        width: 1226px;
        height: 480px;
        margin: 0 auto;
        position: relative;
        .login_content{
            width: 280px;
            height: 300px;
            border: 1px solid #ccc;
            padding: 20px 40px 20px;
            position: absolute;
            top: 60px;
            right: 0;
            background-color: #fff;
            z-index: 50;
            border-radius: 6px;
            .login_cont_hd{
                margin: 3px 0 15px 0;
                border-bottom: 1px solid #979797;
                overflow: hidden;
                padding: 0 0 18px 0;
                h3{
                    float: left;
                    line-height: 32px;
                    font-weight: 400;
                    color: #333;
                    font-size: 18px;
                }
                p{
                    float: right;
                    a{
                        display: block;
                        float: left;
                        width: 32px;
                        height: 32px;
                        margin-left: 10px;
                    }
                    .icon1{
                        background: url(../img/login-icon.png) no-repeat 0 -84px;
                    }
                    .icon2{
                        background: url(../img/login-icon.png) no-repeat 0 -42px;
                    }
                    .icon3{
                        background: url(../img/login-icon.png) no-repeat 0 0;
                    }
                }
            }
            .log_title{
                font-size: 18px;
                line-height: 36px;
                color: #333;
            }
            .pr{
                margin-top: 5px;
                padding: 0 0 15px 0;
                position: relative;
                .icon{
                    // display: block;
                    width: 28px;
                    height: 27px;
                    margin: 8px 0 0 8px;
                    background: url(../img/login-icon2.png) no-repeat -64px 0;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 1;
                }
                input{
                    border: 1px solid #999;
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    text-indent: 50px;
                    font-size: 12px;
                    box-sizing: border-box;
                }
                .yzm_btn{
                    position: absolute;
                    right: 1px;
                    top: 1px;
                    width: 85px;
                    height: 38px;
                    background: #f0f0f0;
                    border-left: 1px solid #cdd1d4;
                    text-align: center;
                    line-height: 38px;
                    color: red;
                    cursor: pointer;
                    font-size: 12px;
                    // z-index: 0;
                }
            }
            // 登录按钮
            .login_btn{
                margin-top: 5px;
                .loginIn{
                    padding: 0;
                    border: 0;
                    width: 100%;
                    height: 40px;
                    cursor: pointer;
                    background-color: red;
                    color: #fff ;
                    font-size: 16px;
                    border-radius: 3px;
                }
            }
            .methds{
                width: 350px;
                margin-top: 12px;
                a{
                    font-size: 12px;
                    color: #333;
                    line-height: 20px;
                    margin-left: 26px;
                    display: inline-block;
                }
            }
        }
    }
}