.mainWrap{
    width: 100%;
    height: auto;
}
.main{
    width: 1228px;
    height: auto;
    overflow: hidden;
    margin: 49px auto;
    .series{  
        overflow: hidden;
        margin-bottom: 45px;      
        header{
            margin: 0 0 24px;
            overflow: hidden;
            height: auto;
            vertical-align: middle;
            h2{
                float: left;
                font-size: 22px;
                font-weight: 400;
                border-left: 4px solid #fe0000;
                padding-left: 15px;
                margin-right: 36px;
            }
            ul{
                height: 100%;
                overflow: hidden;
                float: left;
                vertical-align: middle;
                font-size: 12px;
                line-height: 28.8px;
                li{
                    float: left;
                    margin-right: 16px;
                    a{
                        color: #555;
                        font-size: 14px;
                    }
                    a:hover{
                        color: #fe0000;
                    }
                }
            }
            a{
                float: right;
                font-size: 12px;
                color: #fe0000;
                line-height: 28.8px;
            }
        } 
        //content
        .content{
            .content_left{
                float: left;
            }
            .content_right{
                float: left;
                width: 931px;
                text-align: center;
                li{
                    float: left;
                    width: 296px;
                    height: 300px;
                    overflow: hidden;
                    margin: 0 0 14px 14px;
                    background-color: #fff;
                    position: relative;
                    top: 0;
                    transition: all .2s ease-in;
                    .rightbadge{
                        position: absolute;
                        right: 0;
                        top: 0;
                        max-height: 69px;
                        min-width: 27px;
                    }
                    .content_img{
                        width: 180px;
                        height: 180px;
                    }
                    p{
                        line-height: 100%;
                    }
                    .title{
                        font-size: 14px;
                        color: #333;
                    }
                    .dice{
                        font-size: 12px;
                        color: #9b9b9b;
                        margin: 12px auto 0;
                        height: 30px;
                        line-height: 15px;
                        overflow: hidden;
                        width: 237px;
                    }
                    .price{
                        font-size: 14px;
                        color: #ff2524;
                        margin-top: 10px;
                        font-weight: 600;
                    }
                }
                li:hover{
                    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
                    top: -5px;
                }
            }
        }     
    }
}

// fans
.fansWrap{
    width: 100%;
    // min-height: 686px;
    background-color: #fff;
    overflow: hidden;
    .fans{
        width: 1226px;
        // min-height: 600px;
        margin: 20px auto;
        overflow: hidden;
        position: relative;
        padding: 0 0 70px;
        ul{
            width: 100%;
            overflow: hidden;
            li{
                max-width: 296px;
                margin: 0 14px 10px 0;
                float: left;
                .fans_box{
                    padding: 36px 34px;
                    background-color: #f3f3f3;
                    .fans_title{
                        font-size: 14px;
                        height: 24px;
                        line-height: 24px;
                        overflow: hidden;
                        color: #333;
                        margin-bottom: 10px;
                        .fans_news{
                            font-size: 12px;
                            padding: 0 10px;
                            margin-right: 8px;
                            display: inline-block;
                            text-align: center;
                            background-color: #4b89f1;
                            vertical-align: top;
                            color: #FFF;
                        }                        
                    }
                    .fans_describe{
                        font-size: 12px;
                        line-height: 14px;
                        height: 42px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        margin-bottom: 18px;                        
                    }
                    a{
                        font-size: 12px;
                        line-height: 12px;
                        color: #666;
                        transition: all .3s;
                    }
                    a:hover{
                        color: red;
                    }
                }
            }
            li:last-child{
                margin: 0;
            }
        }
        // more
        .more{
            margin-top: 30px;
            text-align: center;
            font-size: 12px;
            color: #666;
            a{
                color: #555;
                -webkit-transition: all .3s;
                transition: all .3s;
            }        
        }
        a:hover{
            color: red;
        }
    }
}